load Hole = "testcases/hole.stl";

page {
  name = "Hole";
  draw Hole {
    scale = 1:1;
    @[0, 0];
    
    dim(from=[0,0,0], to=center([2.5,2.5,0]), at=[1,-.5,0], dir=[1,0,0]);
    dim(from=[0,0,0], to=center([2.5,2.5,0]), at=[-.75,1.25,0], dir=[0,1,0]);

    dim(from=[0,0,0], to=[2.5,2.5,0], at=[1,-.75,0], dir=[1,0,0]);
    dim(from=[0,0,0], to=[2.5,2.5,0], at=[-.5,1,0], dir=[0,1,0]);
  }
}